@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
.About{
    height: 32vmax;
    padding: 3vmax;
    font-family: 'roboto';
}

.Heading{
    text-align: center;
    padding: 1vmax;
    font-size: 1.5vmax;
}

.Para{
    height: 23vmax;
    background: rgb(186, 186, 186);
    color: rgb(0, 0, 0);
    padding: 2vmax;
    font-size: 1.3vmax;
    border-radius: 1vmax;
}

#submit{
    width: 8vmax;
    height: 3vmax;
    color: white;
    background: crimson;
    outline: none;
    border: none;
    border-radius: 2vmax;
    margin-top: 8vmax;
    cursor: pointer;
}

#submit:hover{
    background-color: rgb(194, 17, 53);
}