@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.imgdiv{
    width: 100%;
    height: 27vmax;
    display: flex;
    justify-content: center;
    
    margin: 4vmax;
}

.img{
    height: 30vmax;
}



@media(max-aspect-ratio: 7/10){
    /* .App{
        height: 1000px;
    } */
    .upperSlideBar{
        height: 25% !important;
    }
    .menuSlideBar{
        height: 17% !important;
    }
    .supportSlideBar{
        height: 10% !important;
    }
    .credits{
        height: 10% !important;
    }
    .Navbar{
        height: 10% !important;
    }
    .openClose{
        padding: 1.5vw !important;
    }
    .Header>.Title{
        height: 14rem !important;
    }
    .Header>.Title>#name{
        font-size: 11vw !important;
        padding: 2vw !important;
    }
    .Header>.Title>#subTitle{
        font-size: 4vw !important;
        padding: 1vw !important;
        margin-bottom: 1vw;
    }
    
    .dropdown>.menu-btn{
        font-size: 3vw !important;
        width: 15vw !important;
        height: 10vw !important;
        
    }
    .MenuBar1{
        height: 76vw !important;
        overflow-y: auto !important;
    }
    .menu-items{
        width: 52vw !important;
    }
    .menu-li{
        padding: 1vw !important;
    }
    .cardBody{
        font-size: 4vw !important;
    }
    .title>p{
        padding: 4vw !important;
    }
    .Footer{
        position: fixed !important;
        bottom: 0 !important;
    }

    
}

@media only screen and (max-width: 400px){
    .Header{
        width: 100% !important;
    }
    .Navbar{
        height: 15vw !important;
    }
    .navIcons-home-about{
        margin-left: 4rem !important;
        width: 56% !important;
        display: flex !important;
        justify-content: space-around !important;
    }
    .navIcons{
        width: 19vw !important;
        font-size: 3vw !important;
    }
    .navIcons > svg{
        width: 5vw !important;
    }
    .Header>.Title {
        height: 10rem !important;
    }
    .MenuBar1{
        height: 30rem !important;
    }
    .menu-items{
        padding: 1rem 0 !important;
        width: 75vw !important;
    }
    .LandingPage{
        margin: 17px 0 !important;
        height: 40rem !important;
    }
    .cards{
        margin: 17px 0 !important;
        height: 4rem !important;
        font-size: 1.2rem !important;
    }
    .Para{
        font-size: 5vw !important;
        height: fit-content !important;
        padding: 2vw !important;
    }
    .About{
        height: 65vh !important;
    }
    .About> .Para{
        height: 50vh !important;
    }
    .About>.Para>a>#submit{
        width: 20vw !important;
        padding: 1rem !important;
        height: 4rem !important;
        margin: 8vw 0 0 !important;
    }
    .cardBody{
        margin-bottom: 10rem !important;
    }
}